<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Decider</title>
    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static "css/libs/bootstrap.min.css" %}">

</head>
<body>
	<div class="container">
		<div class="row">
			<nav class="navbar navbar-default" role="navigation">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="#">Decider</a>
			    </div>

			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			      </ul>
			      
			      <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">{{ user.username }}</a></li>
			        {% if user.is_authenticated %}<li><a href="{% url "api:logout" %}">Выйти</a></li>{% endif %}
			      </ul>
			    </div>
			  </div>
			</nav>
			{%block navbar%}
			{%endblock navbar%}
			<div class="col-md-12">
				{%block content%}
				{%endblock content%}
			</div>
		</div>
	</div>
	<script src="{% static "js/libs/jquery.min.js" %}"></script>
	<script  src="{% static "js/libs/bootstrap.min.js" %}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>